/*global*/

body {
	line-height: 1;
	overflow-x:hidden;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
table.table td{
	text-align:left;
	padding:10px;
	vertical-align:middle;
	width:100%;
	white-space:nowrap;
}


label{display:inline-block;}
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select{outline:none;font-family:'Open Sans';}
button{font-family:'Open Sans'; border:none; outline:none; cursor:pointer; transition:all 0.5s linear; -webkit-transition:all 0.5s linear; -moz-transition:all 0.5s linear; -mstransition:all 0.5s linear;}
/*THEME*/
body{
	font-family:'Open Sans';
	color:#fff;
	font-size:14px;
	line-height:1.2;
	font-weight:300;
	/*background-image:url(../images/main-pattern.png);*/
	background-repeat:repeat;
	background-position:0 0;
	background-color:#313b44;
	/*background-blend-mode: color-burn;*/
}
p{
	margin-bottom:10px;
	line-height:20px;
}


.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}



/*header*/

.lang-selector{
	border-radius:6px;
	background:rgba(0,0,0,0.3);
	position:relative;
	cursor:pointer;
	float:right;
	margin-top:10px;
}
.lang-selector > span{
	display:block;
	padding:5px;
	padding-right:20px;
	position:relative;
}
.lang-selector > span img{
  border-radius:20px;
}
.lang-selector > span:after{
	content:"\f107";
	font-family:'fontAwesome';
	position:absolute;
	top:4px;
	right:3px;
	font-size:16px;
	color:#cacaca;
}
.lang-selector ul{
	display:none;
	position:absolute;
	top:26px;
	left:0;
	width:80%;
	z-index:1;
	
}
.lang-selector ul li a{
	display:block;
	padding:5px;
	background:rgba(0,0,0,0.3);
}
.lang-selector ul li a:hover{
	background:rgba(0,0,0,0.5);
}
.lang-selector:hover ul{
	display:block;
}
.lang-selector ul li a img{
	width:auto;
	display:block;
	border-radius:20px;
}
/*navigation*/

.home-caption h1 span i{
	animation: wr 3s ease infinite ; 
	-webkit-animation: wr  3s ease infinite; 
	-moz-animation: wr 3s ease infinite;
}
@keyframes  wr{
	from {
        transform: perspective( 600px ) rotateY(0);
		-webkit-transform: perspective( 600px ) rotateY(0);
		-moz-transform: perspective( 600px ) rotateY(0);
  }
  to {
	  transform: perspective( 600px ) rotateY(360deg);
		-webkit-transform: perspective( 600px ) rotateY(360deg);
		-moz-transform: perspective( 600px ) rotateY(360deg);
  }
}
@-webkit-keyframes  wr{
	from{
        transform: perspective( 600px ) rotateY(0);
		-webkit-transform: perspective( 600px ) rotateY(0);
		-moz-transform: perspective( 600px ) rotateY(0);
  }
  to {
	  transform: perspective( 600px ) rotateY(360deg);
		-webkit-transform: perspective( 600px ) rotateY(360deg);
		-moz-transform: perspective( 600px ) rotateY(360deg);
  }
}
@-moz-keyframes  wr{
	from{
        transform: perspective( 600px ) rotateY(0);
		-webkit-transform: perspective( 600px ) rotateY(0);
		-moz-transform: perspective( 600px ) rotateY(0);
  }
  to{
	  transform: perspective( 600px ) rotateY(360deg);
		-webkit-transform: perspective( 600px ) rotateY(360deg);
		-moz-transform: perspective( 600px ) rotateY(360deg);
  }
}
.home-caption p{
	margin-bottom:30px;
}

/*home investment plan*/

/*welcome div*/
.welcome{
	background:url(../images/welcome.png) no-repeat 50% 100%;
	background-size:100% auto;
}
.welcome .welcome-inner{
	background:url(../images/welcome-background.png) no-repeat 0 0;
	background-size:cover;
	padding:50px 0 60px 0;
}
.welcome-text{
	padding-left:40px;
	color:#eeeeee;
}
.welcome-text p{
	font-size:16px;
	line-height:22px;
}
.welcome .certi-img{
	float:right;
	display:block;
	position:relative;
}
.welcome .certi-img:after{
	content:'\f00e';
	font-family:'fontAwesome';
	width:40px;
	height:40px;
	line-height:40px;
	border-radius:100%;
	text-align:center;
	color:#fff;
	background:#e25e5a;
	position:absolute;
	top:calc(50% - 20px);
	left:calc(50% - 20px);
	font-size:20px;
	transition:all 0.4s linear;
	-webkit-transition:all 0.4s linear; 
	-moz-transition:all 0.4s linear;
}
.welcome .certi-img img{
	transition:all 0.4s linear;
	-webkit-transition:all 0.4s linear; 
	-moz-transition:all 0.4s linear;
}
}
.welcome .certi-img:hover:after{
	background:#f8b882;
}
.welcome .certi-img:hover img{
	transform:scale(1.1);
	-webkit-transform:scale(1.1); 
	-moz-transform:scale(1.1);
}
.company-detail{
	padding:30px;
	background:rgba(0,0,0,0.5);
	font-size:13px;
	float:right;
	width:230px;
}
.company-detail a{
	color:#f8b782;
}
.company-detail-list{
	margin-bottom:25px;
}
.company-detail-list li{
	margin-bottom:20px;
	padding-left:36px;
	background-position:0 50%;
	background-repeat:no-repeat;
}
.company-detail-list li.address{
	background-image:url(../images/marker.png);
}
.company-detail-list li.reg-number{
	background-image:url(../images/badge.png);
}
.company-detail-list li.download{
	background-image:url(../images/pdf.png);
}
.company-detail-list li:last-child{
	margin-bottom:0;
}
.company-detail-list li span.label{
	display:block;
	line-height:20px;
	margin-bottom:5px;
	color:#fff;
}
.company-detail-list li.address span.label{
	margin-bottom:0;
}
.company-detail-list li span{
	color:#f8b782;
}
.company-detail .c-a, .company-detail .c-p{
	text-align:center;
	line-height:18px;
	font-size:12px;
	display:block;
	margin-bottom:0;
}
/*affiliate*/
.affiliate{
	position:relative;
}
.affiliate .affiliate-inner{
	padding:18px 0;
	background:url(../images/affiliate.png) no-repeat 0 0;
	background-size:cover;
}
.affiliate .affiliate-inner .affiliate-text{
	padding-left:35px;
	margin-top:25px;
}
.affiliate .affiliate-inner .affiliate-text .commission-label{
	padding-left:150px;
	position:relative;
	margin-bottom:25px;
}
.affiliate .affiliate-inner .affiliate-text .commission-label h3{
	color:#e4e4e4;
	font-weight:300;
	font-size:28px;
	line-height:35px;
}
.affiliate .affiliate-inner .affiliate-text .commission-label span.grad{
	font-size:70px;
	line-height:70px;
	position:absolute;
	top:0;
	left:0;
	background: #f8b782; /* Old browsers */
    background: -moz-linear-gradient(top, #f8b782 0%, #f8b782 0%, #f8b782 0%, #e25f5a 100%, #e25f5a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f8b782 0%,#f8b782 0%,#f8b782 0%,#e25f5a 100%,#e25f5a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f8b782 0%,#f8b782 0%,#f8b782 0%,#e25f5a 100%,#e25f5a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b782', endColorstr='#e25f5a',GradientType=0 ); /* IE6-9 */
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size:150% 150%;
  animation: colors-1 3s ease infinite, centercenter 4s linear infinite;
    -webkit-animation: colors-1 3s ease infinite , centercenter 4s linear infinite;
    -moz-animation: colors-1 3s ease infinite , centercenter 4s linear infinite;
	
}
@keyframes  colors-1{
	0% {
		background-position: 0% 0;
	}
	50% {
		background-position:0 75% ;
	}
	100% {
		background-position: 0% 0;
	}
}
@-webkit-keyframes  colors-1{
	0% {
		background-position: 0% 0;
	}
	50% {
		background-position: 0 75% ;
	}
	100% {
		background-position: 0% 0;
	}
}
@-moz-keyframes  colors-1{
	0% {
		background-position: 0% 0;
	}
	50% {
		background-position: 0 75%;
	}
	100% {
		background-position: 0% 0;
	}
}
.affiliate .affiliate-inner .affiliate-text .commission-label .upto{
	font-weight:900;
	font-size:24px;
	text-transform:uppercase;
	color:#f8b882;
	position:absolute;
	top:-24px;
	left:10px;
}
.affiliate .affiliate-inner .affiliate-text > p{
	color:#eee;
	line-height:20px;
	margin-bottom:25px;
}
.affiliate .affiliate-inner .affiliate-text a.btn{
	padding:9px 35px;
}
.affiliate .affiliate-inner .affiliate-text .commission-label:hover .upto{
	
}
.affiliate .affiliate-inner .affiliate-text .commission-label:hover span.grad{
	
}
/*key feautures*/
.key-features{
	padding:60px 0;
}
ul.key-list li{
	margin-bottom:30px;
	padding-left:94px;
	position:relative;
	transition:all 0.4s linear;
	-webkit-transition:all 0.4s linear; 
	-moz-transition:all 0.4s linear;
}
ul.key-list li img{
	position:absolute;
	top:3px;
	left:0;
	
}
ul.key-list li:hover{
	transform:scale(1.1);
	-webkit-transform:scale(1.1); 
	-moz-transform:scale(1.1);
}
ul.key-list li span.label{
	display:block;
	color:#f8b782;
	font-size:16px;
	margin-bottom:6px;
}
ul.key-list li p{
	margin-bottom:0;
	font-size:13px;
}
.key-features .intro-video{
	position:relative;
}
.key-features .intro-video img{
	float:right;
}
/*mining statisctic*/
.mining-stats h2{
	position:relative;
	text-transform:uppercase;
	font-size:24px;
}
.mining-stats h2:after, .mining-stats h2:before {
    content: "";
    height: 1px;
    width: 350px;
    top: 50%;
    left: 0px;
    background: rgba(255,255,255,0.25);
    position: absolute;
}
.mining-stats h2:after {
    right: 0;
    left: auto;
}
.statictic-container{
	padding:40px 0;
}
ul.stat-items {
    position: relative;
    display: table;
    width: 100%;
}
ul.stat-items li {
    display: table-cell;
}
ul.stat-items li h4 {
    color: #f8b782;
    font-size: 24px;
    margin-bottom: 12px;
}
ul.stat-items li span {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
}
/*bank level security*/
.bank-level-security{
	padding:40px 0;
	background:rgba(0,0,0,0.30) url(../images/bank-security-shadow.png) repeat-x 0 100%;
	border-top:1px solid rgba(255,255,255,0.25);
}
.bank-level-security ul.security-list{
	
}
.bank-level-security ul.security-list li{
	position:relative;
	float:left;
	margin-right:10px;
}
.bank-level-security ul.security-list li:last-child{
	margin-right:0;
}
.bank-level-security ul.security-list li a{
	display:block;
	width:150px;
	text-align:center;
	height:40px;
	border-radius:10px;
	position:relative;
	transition:all 0.4s linear;
	-webkit-transition:all 0.4s linear; 
	-moz-transition:all 0.4s linear;
}
.bank-level-security ul.security-list li a:hover{
	opacity:0.8;
}
.bank-level-security ul.security-list li img{
	max-width:150px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}
/*.bank-level-security ul.security-list li .security-detail{
	padding-left:250px;
}
.bank-level-security ul.security-list li .security-detail h4{
	color:#f8b782;
	font-size:18px;
	margin-bottom:15px;
	line-height:1;
}
.bank-level-security ul.security-list li .security-detail p{
	font-size:13px;
	line-height:20px;
	margin-bottom:0;
}
.security-list.owl-theme .owl-controls{
	margin:0;
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
}
.security-list.owl-theme .owl-controls .owl-buttons{
	position:relative;
}
.security-list.owl-theme .owl-controls .owl-buttons div{
	background:none;
	position:relative;
	float:left;
	border-radius:0;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
	margin:0;
	margin-left:-40px;
	font-size:40px;
	padding:0;
}
.security-list.owl-theme .owl-controls .owl-buttons div.owl-next{
	float:right;
	margin-right:-40px;
}*/
/*-----------------------------about us page-----------------------------*/

/*faq page*/

/*accordion*/
.collapsing{position:relative;height:0;overflow:hidden;-webkit-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease;-webkit-transition-duration:.35s;-o-transition-duration:.35s;transition-duration:.35s;-webkit-transition-property:height,visibility;-o-transition-property:height,visibility;transition-property:height,visibility}
.collapse{
	display:none;
}
.collapse.in{
	display:block;
}


